<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:myApp.properties"/>

    <bean id="pet" class="org.example.ex3.Cat">
    </bean>
    <bean id="cat" class="org.example.ex3.Cat">
    </bean>
    <bean id="dog" class="org.example.ex3.Dog">
    </bean>

    <bean id="person" class="org.example.ex3.Person">
<!--        <constructor-arg ref="cat"/>-->
        <property name="pet" ref="dog"/>
<!--        <property name="fullName" value="Ivan Ivanov"/>-->
        <property name="fullName" value="${person.fullName}"/>
<!--        <property name="age" value="18"/>-->
        <property name="age" value="${person.age}"/>
    </bean>

    <bean id="person2" class="org.example.ex3.Person">
        <constructor-arg ref="dog"/>
        <constructor-arg name="fullName" value="Ivan Ivanov"/>
        <constructor-arg name="age" value="18"/>
    </bean>



</beans>
